.myButton {
	background-color:#ff3232;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:16px 60px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.myButton.a {
	background-color:#ff3232;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:16px 60px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#44ccf5;
}
.myButton:active {
	position:relative;
	top:1px;
}
.css-input {
    padding: 2px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 15px rgba(175,153,183,.75);
    text-shadow: 0px 0px 1px rgba(66,66,66,.75)
}

.css-input:focus {
    outline:none;
}


ul.a {
    list-style-type: circle;
  }
.countdown-title {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
  
  .countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  
  .countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: #00bf96;
    display: inline-block;
  }
  
  .countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #00816a;
    display: inline-block;
  }
  
  .countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }
  
  .deadline-message{
    display: none;
    font-size: 24px;
    font-style: italic;
  }
  
  .visible{
    display: block;
  }
  
  .hidden{
    display: none;
  }

.Mansnoteikums
{
    border-left: 6px solid #ff3232;
    background-color: rgb(211, 211, 211);
    font-size: 17px;
}

.ievaditiburti
{
    border-left: 6px solid #32a3ff;
    background-color: rgb(211, 211, 211);
    font-size: 18px;
}
.iegutipunkti
{
    border-left: 6px solid #ff32f5;
    background-color: rgb(211, 211, 211);
    font-size: 18px;
}

.wrapper  
{
    background: rgba(0, 212, 35, 0.349);
}
h1
{
text-align: center;
background-color: rgb(231, 143, 80);
}


ul
{
    text-align: center;
    padding: 0px; /*➕*/
}


li
{
    display: inline-block;

}
.game
{
    width: 350px;
    background-color: black;
}
.block
{
    display: inline-block;
    background-color: cyan;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(211, 12, 12);
    text-align: center;  
	margin: 5px;          
    text-align: center;  
	margin: 5px;          
	font-size: 45px;       
}
.block div 
{
    display: none;
}


mybuttons {
    font-size: 1.1em;
    background-color: #EBF5FF;
    
    color: #4312AE;
    border: 2px solid black;
    box-shadow: 4px 4px 4px #999999;
  }
 

.button {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 30px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 44px;
    margin: 4px 2px;
    cursor: pointer;
  } 
.button:hover, button:focus, button:active {
        /* swap colors */
        color: #EBF5FF;
        background-color: #4312AE;
        cursor: pointer; /* displays a hand */
      }

      